name: Publish Python Package

on:
  release:
    types: [published]
  push:
    branches:
      - main
    paths:
      - 'tradelocker-python/**'

jobs:
  publish-gh-package:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build twine

      - name: Build Package
        run: |
          cd tradelocker-python
          python -m build

      - name: Publish to GitHub Packages
        env:
          TWINE_USERNAME: ${{ github.actor }}
          TWINE_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
          TWINE_REPOSITORY_URL: https://npm.pkg.github.com/
        run: |
          cd tradelocker-python
          python -m twine upload dist/* --registry-url https://npm.pkg.github.com/ --skip-existing
